 <!-- GOOGLE AD -->
            <div class="ad_place text_center" style="height:80px;">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                <!-- Horizontal ad -->
                <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-7985912525121362" data-ad-slot="5158390008" data-ad-format="auto" data-full-width-responsive="true"></ins>
                <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
            </div>
            
 <footer class="light_background" style="margin-top:25px;">
            <div class="container">
                <div class="menu row">
                    <div class="eight columns">
                        <div class="four columns">
                            <h3>Navigational</h3>
                            <ul>
                                <li><a href="/login/" class="styled_a">Login</a></li>
                                <li><a href="/signup/" class="styled_a">Signup</a></li>
                                <li><a href="/support/" class="styled_a">Knowledge Base</a></li>
                                <li><a href="https://forum.aeonfree.com" class="styled_a">Community Forum</a></li>
                                <li><a href="https://apps.aeonfree.com" class="styled_a">Aeon Tools</a></li>
                                <li><a href="/free-wordpress-hosting" class="styled_a">Free WordPress Hosting</a></li>
                                <li><a href="/free-hosting" class="styled_a">Free Hosting</a></li>
                            </ul>
                        </div>
                        <div class="four columns">
                            <h3>Useful Links</h3>
                            <ul>
                                <li><a href="/contact" class="styled_a">Contact Us</a></li>
                                <li><a href="/terms-of-service" class="styled_a">Terms of service</a></li>
                                <li><a href="/privacy-policy" class="styled_a">Privacy Policy</a></li>
                                <li><a href="/free-web-hosting-for-students/" class="styled_a">Free Web Hosting For Students</a></li>
                                <!-- <li><a href="https://apps.aeonfree.com/domain-suggestor" class="styled_a">Domain name Suggestions</a></li> -->
                                <li><a href="https://apps.aeonfree.com/whois-lookup" class="styled_a">Domain whois lookup</a></li>
                                <li><a href="https://apps.aeonfree.com/what-is-my-ip" class="styled_a">What is my ip address?</a></li>
                                <li><a href="https://apps.aeonfree.com/random-password-generator" class="styled_a">Random Password Generator</a></li>
                              <li><a href="https://apps.aeonfree.com/minify" class="styled_a">JS/CSS Minifier</a></li>
                            </ul>
                        </div>
                        <div class="four columns">
                            <h3>Other</h3>
                            <ul>
                                <li><a href="https://recommendanime.com" class="styled_a" target="_blank">Recommend Anime</a></li>
                                <li><a href="https://rudrax.net" class="styled_a" target="_blank">Rudrax.net</a></li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="four columns">
                        <div class="u-pull-right">
                            <img src="/assets/images/logo.png" width="150" alt="Free Hosting Logo">
                            <p class="light_text">
                                aeonfree is the fastest, secure and free web hosting provider with no ads. Create your own free website with modern features and tools.
                            </p>
                            <p>Copyright &copy; AeonFree Free Web Hosting <script type="text/javascript">document.write(new Date().getFullYear());</script>. All Rights Reserved!</p>
                            <a href="https://ifastnet.com/portal/aff.php?aff=25747" class="styled_a">Powered by IfastNet Premium Hosting.</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <a class="back_to_top"></a>

    </div>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/script.js"></script>
    <script type="text/javascript" src="https://s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5d14339921d18137"></script>

</body>

</html>